.help-description {
  text-align: center;
}

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.spacer {
  height: 50px;
}

input {
  border: 1px solid rgb(167, 180, 180);
  border-radius: 2px;
  height: 30px;
}

.contact-form {
  padding: 45px 30px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 20px;
}

.contact-info {
  border-bottom: 1px solid rgb(196, 191, 191);
  margin-bottom: 10px;
}

.contact-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.contact-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.email-input,
#first,
#last {
  font-size: 16px;
  padding: 0 8px;
}

#message {
  height: 200px;
  width: 100%;
  border: 1px solid rgb(167, 180, 180);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(167, 180, 180);
  border-radius: 4px;
  font-size: 16px;
  background-color: teal;
  color: #fff;
  margin-bottom: 20px;
}

.contact-me-info {
  display: flex;
  flex-direction: column;
  padding: 5px 2px;
}

.call-me-icon,
.email-me-link {
  display: flex;
  justify-content: center;
  line-height: 20px;
  font-size: 20px;
  margin: 0 3px;
  text-decoration: none;
  color: black;

  & > i {
    margin-right: 10px;
  }

  &:hover,
  &:active,
  &:link {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

.email-me-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-me-icon {
  font-size: 30px;
}

.fa-envelope {
  margin-top: 3px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .contact-name {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .first-name,
  .last-name {
    width: 100%;
  }

  .first-name {
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 400px) {
  .call-me-icon {
    line-height: 16px;
    font-size: 16px;
  }

  .email-me-link {
    font-size: 16px;
  }
}
