.nav-bar {
  background-color: #fff;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  width: 100%;
}

.nav-logo {
  width: 60px;
  height: 60px;
}

#custom-nav-item.active {
  color: #136c70;
}

@media screen and (max-width: 450px) {
  .nav-logo {
    width: 40px;
    height: 40px;
  }

  .nav-link {
    padding: 0;
    font-size: 14px;
  }
}
